testing/
.vscode/
dataservices.db
email_history_import/emails/**
email_history_export/emails/**
file_attachment_import/attachments/**
file_attachment_export/attachments/**
errors.csv
Pipfile.lock
__pycache__/
*.pyc
.DS_STORE