[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
infusionsoft = {git = "https://github.com/infusionsoft/Official-API-Python-Library.git"}
pandas = "*"
django-heroku = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
requests = "*"
redis = "*"
celery = "*"


[dev-packages]



[requires]

python_version = "3.7"
