[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pandas = "*"
jellyfish = "*"
infusionsoft = {git = "https://github.com/infusionsoft/Official-API-Python-Library.git"}

[requires]
python_version = "3.7"
